<p>We'll send you weekly harvest updates so you can plan your menu.</p>
<form
    class="js-cm-form uk-form-stacked uk-text-left uk-align-center uk-width-2-3@s"
    id="subForm"
    action="https://www.createsend.com/t/subscribeerror?description="
    method="post"
    data-id="2BE4EF332AA2E32596E38B640E9056198AB1CE755310223F51B9B7A1A84ECCF0D5273ABBAB8D761069F57EC9F57688E765894B26C821D8708B348E851258F3F4">
    <div class="uk-margin">
        <label class="uk-form-label">Name</label>
        <input aria-label="Name"
            class="uk-input edgie-secondary-border"
            id="fieldName" maxlength="200" name="cm-name">
    </div>
    <div class="uk-margin">
        <label class="uk-form-label">Email</label>
        <input autocomplete="Email" aria-label="Email"
            class="js-cm-email-input qa-input-email uk-input edgie-secondary-border"
            id="fieldEmail" maxlength="200"
            name="cm-ydykkhy-ydykkhy" required=""
            type="email">
    </div>
    <div class="uk-margin">
        <button type="submit"
            class="uk-button uk-button-secondary uk-align-center">Subscribe</button>
    </div>
</form>
<script async
    src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
